Drogi/Droga {{$username}},
	Twoje hasło zostało zmienione zgodnie z żądaniem. Zachowaj te informacje
w swojej dokumentacji (lub natychmiast zmień swoje hasło na coś, co zapamiętasz).
	
Twoje dane logowania są następujące:

Lokalizacja serwisu: {{$siteurl}}
Nazwa logowania: {{$email}}
Hasło: {{$new_password}}

Możesz zmienić to hasło na stronie ustawień konta, po zalogowaniu się.


Z poważaniem,
	{{$sitename}} Administrator

 

--
Warunki świadczenia usług:
{{$siteurl}}/help/TermsOfService